.home {
    margin-left: 23rem;
}

.home__section {
    height: 100vh;
}

.home__section--red {
    background: violet;
}

.home__section--green {
    background: green;
}

.home__section--salmon {
    background:salmon;
}

