:root {
  /* COLOR */ 
  --color-white : #fff;

  --color-primary: #42318C;;

  --color-dark: #1a1a1a;
  --color-dark-light: #313131;
  --color-secondary: #04776e;
  --color-grey: #c0bdb9;

  --font-primary: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

